.loginPanel, .registerPanel, .profilePanel, .forgotpasswordbody {
    max-height: 100vh;
    background-color: $bg-login;

    .header, .login, .register, .profile {
        position: relative;
        top: 0vh;
        bottom: inherit;
        left: 0;
        z-index: 99;
        width: 100%;
        height: auto;
        background: none repeat scroll 0 0 rgba(0, 0, 0, .6);
        text-align: center;
        transition: all .5s ease .1s;
        -webkit-transition: all .5s ease .1s;

        .nav, .loginNav, .registerNav, .profileNav {

            &Contents {

                &List {

                    &C {
                        position: relative;
                        top: 0;
                        max-height: 110px;
                    }
                }
            }
        }
    }

    .panel-register {
        height: auto !important;

        &-container {
            height: auto !important;
            padding-bottom: 69px;
        }
    }

    .panel-login, .panel-register {

        text-align: center;

        &-container {
            position: relative;
            display: inline-block;
            width: 500px;
            height: 600px;
            margin: 55px;
            border: 1px solid black;
            background-color: $white;
            @include login-shadow;

            &-logo {
                display: inline-block;
                height: auto;
                margin: 30px 0;

                img {
                    width: 55%;
                }
            }
            .toggle {
                display: inline-flex;
                float: left;
                margin-left: 55px;

                p {
                    padding: 0 20px;
                    font-weight: 600;
                    font-size: 18px;
                    font-family: catamaran;
                    text-transform: uppercase;
                }

                input[type=checkbox] {
                    visibility: hidden;
                    width: 0;
                    height: 0;
                }

                label {
                    position: relative;
                    top: 21px;
                    height: 25px;
                    width: 50px;
                    display: block;
                    border-radius: 100px;
                    background: $grey;
                    cursor: pointer;
                    text-indent: -9999px;
                    
                }

                label:after {
                    content: '';
                    position: absolute;
                    top: 2.5px;
                    left: 2.5px;
                    width: 20px;
                    height: 20px;
                    background: #fff;
                    border-radius: 90px;
                    transition: 0.3s;
                }

                input:checked + label {
                    background: #48e1ee;
                }

                input:checked + label:after {
                    left: calc(100% - 3px);
                    transform: translateX(-100%);
                }

                label:active:after {
                    width: 35px;
                }
            }

            #company {
                display:none;
            }

            #private {
                display: none;
            }

            .visable {
                display: block;
            }

            .formlogin, .formregister {

                text-align: center;

                .inputS {
                    position: relative;
                    height: 45px;
                    width: 80%;
                    padding: 11px 13px;
                    margin: 16px auto;
                    font-weight: 300;
                    color: $black;
                    border: 1px solid #b3b7bb;
                    outline: none;
                    -webkit-appearance: none;
                    -webkit-box-shadow: inset 0 0 0 1px #f5f5f6;
                    box-shadow: inset 0 0 0 1px #f5f5f6;
                    clear: both;
                }
                .forgotpasswordbtn {
                    display: block;
                    text-align: left;
                    margin: 5px 0 45px 50px;
                    right: 0;
                    color: $red;
                    font-size: .8em;

                }

                input[type='submit'] {
                    clear: both;
                    width: 37%;
                    background-color: $colorLogo;
                    border-radius:6px;
                    border: none;
                    margin: 0 3%;

                }

                input[class="register inputS"] {
                    width: 37%;
                    background-color: $darkgrey;
                    color: $white;
                    border: none;
                    border-radius:6px;
                    margin: 0 3%;
                }
                div {
                    display: inline;

                    label {
                        position: relative;
                        display: inline-flex;
                        margin: 20px 0;

                        input[type="checkbox"] {
                            margin-top: 6px;
                        }

                        a {
                            display: block;
                            text-align: left;
                        }
                    }

                    input[class="register inputS"] {
                        left: 15px;
                    }
                }
            }
        }
    }

    #reklama {
        width: 970px;
        height: 90px;
        margin: 30px auto;
        border: 2px solid $colorLogo;
        background-color: grey;
        
    }
}
