footer, body::after {
    position: relative;
    height: 130px;
    background-color: $black;
}

.footericon {
    
    ul {
        position: absolute;
        left: calc(50vw - 80px);
        display: flex;
        margin: 40px 0;
        padding: 0;

        li {
            list-style: none;

            a {
                position: relative;
                display: block;
                
                width: 50px;
                height: 50px;
                margin: 0 10px;
                color: $darkgrey;
                font-size: 20px;
                line-height: 50px;
                text-align: center;
                text-decoration: none;
                transition: .5s;

                span {
                    position: absolute;
                    transition: transform .5s;

                    &:nth-child(1),
                    &:nth-child(3) {
                        width: 100%;
                        height: 1px;
                        background: $darkgrey;
                    }

                    //Lepiej nie ruszaj, bo się wyjebie.\/

                    &:nth-child(1) {
                        top: 0;
                        left: 0;
                        transform-origin: right;
                    }

                    &:nth-child(1),
                    &:nth-child(3) {
                        width: 100%;
                        height: 1px;
                        color: $red;
                    }

                    //Tu się kończy.
                    
                    &:nth-child(3) {
                        bottom: 0;
                        left: 0;
                        transform-origin: left;
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        width: 1px;
                        height: 100%;
                        background: $darkgrey;
                    }

                    &:nth-child(2) {
                        top: 0;
                        left: 0;
                        transform: scaleY(0);
                        transform-origin: bottom;
                    }
                }

                &:hover span:nth-child(1) {
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .5s;
                }

                &:hover span:nth-child(3) {
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .5s;
                }

                &:hover span:nth-child(2) {
                    transform: scaleY(1);
                    transform-origin: top;
                    transition: transform .5s;
                }

                span:nth-child(4) {
                    top: 0;
                    right: 0;
                    transform: scaleY(0);
                    transform-origin: top;
                }

                &:hover span:nth-child(4) {
                    transform: scaleY(1);
                    transform-origin: bottom;
                    transition: transform .5s;
                }
            }
        }
    }
}
