* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: $white;
    font-family: "Catamaran", "Arial Narrow", Arial, sans-serif !important; 

    .fota {
        height: 100vh;
        overflow: hidden;

        img {
            width: 100%;
            height: 1000px;
            margin: 0;
        }
    }

    .flex-nav {
        

        .header.hp{
            position: fixed;
            top: 0vh;
            height: 107px;
            z-index: 1000;
            background-color: transparent;

            &:hover {
                background: none repeat scroll 0 0 rgba(0, 0, 0, .3);
            }

            a {
                color: $black !important;
                transition: .5s color ease-in-out;

                &:hover {
                    color: $darkenwhite !important;
                }
            }
        }
    }

    .header {
        position: absolute;
        bottom: 0vh;
        left: 0;
        z-index: 99;
        width: 100%;
        background: none repeat scroll 0 0 rgba(0, 0, 0, .3);
        text-align: center; 
        transition: all .5s ease .1s;
        -webkit-transition: all .5s ease .1s;

        &.login {
            bottom: initial;
        }
        .nav {

            &Contents {
                position: relative;
                display: inline-flex;
                margin: 0 auto;
  
                &List {
                    float: left;
                    padding: 0;
                    font-weight: normal;
                    line-height: 1.3;
                    text-align: center;
                    text-transform: uppercase;

                    &C {
                        float: left;
                        min-width: 100px;
                        max-height: 10vh;
                        opacity: 1;
                        list-style-type: none;
                        transition: all .5s ease .1s;
                        -webkit-transition: all .5s ease .1s;

                        a {
                            height: 10vh;
                            color: $white;
                            font-weight: 700;
                            font-size: 1em;
                            line-height: 7em;
                            text-decoration: none;
                            transition: color .5s ease-in-out;

                            &:hover {
                                color: $darkenwhite;
                            }
                        }
                    }

                    &CLogo {
                        height: 140px;
                        transform: scale(0.6) translateY(-25px);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1760px) {
    body {
        .flex-nav {
            .header.hp{
                height: 100px;
            }
        }
        .wrap {
            .header {
                .nav {
                    &Contents {
                        &List {
                            &CLogo {
                                height: 140px;
                                transform: scale(.5) translateY(-45px);
                            }
                        }
                    }
                }
            }
        }
    }
}
