.weWorkItContainer {
    min-height: 100%;

    .main {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        background-color: transparent;

        .left {
            position: relative;
            width: 100px;
            height: 100px;
            border-top: 4px solid $colorLogo;
            border-left: 4px solid $colorLogo;
            background-color: transparent;
        }

        p {
            text-align: center;
        }

        .right {
            position: relative;
            width: 100px;
            height: 100px;
            border-right: 4px solid $darkgrey;
            border-bottom: 4px solid $darkgrey;   
            background-color: transparent; 
        }
    }
}