@import url("https://fonts.googleapis.com/css?family=Catamaran:400");
@import url("https://fonts.googleapis.com/css?family=Catamaran:500");
@font-face {
  font-family: "Catamaran";
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #48e1ee;
  outline: 1px solid #333;
}

.loginPanel, .registerPanel, .profilePanel {
  max-height: 100vh;
  background-color: #d9d8d6;
}
.loginPanel .header, .loginPanel .login, .loginPanel .register, .loginPanel .profile, .registerPanel .header, .registerPanel .login, .registerPanel .register, .registerPanel .profile, .profilePanel .header, .profilePanel .login, .profilePanel .register, .profilePanel .profile {
  position: relative;
  top: 0vh;
  bottom: inherit;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 15vh;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: all 0.5s ease 0.1s;
  -webkit-transition: all 0.5s ease 0.1s;
}
.loginPanel .header .navContentsList li, .loginPanel .header .loginNavContentsList li, .loginPanel .header .registerNavContentsList li, .loginPanel .header .profileNavContentsList li, .loginPanel .login .navContentsList li, .loginPanel .login .loginNavContentsList li, .loginPanel .login .registerNavContentsList li, .loginPanel .login .profileNavContentsList li, .loginPanel .register .navContentsList li, .loginPanel .register .loginNavContentsList li, .loginPanel .register .registerNavContentsList li, .loginPanel .register .profileNavContentsList li, .loginPanel .profile .navContentsList li, .loginPanel .profile .loginNavContentsList li, .loginPanel .profile .registerNavContentsList li, .loginPanel .profile .profileNavContentsList li, .registerPanel .header .navContentsList li, .registerPanel .header .loginNavContentsList li, .registerPanel .header .registerNavContentsList li, .registerPanel .header .profileNavContentsList li, .registerPanel .login .navContentsList li, .registerPanel .login .loginNavContentsList li, .registerPanel .login .registerNavContentsList li, .registerPanel .login .profileNavContentsList li, .registerPanel .register .navContentsList li, .registerPanel .register .loginNavContentsList li, .registerPanel .register .registerNavContentsList li, .registerPanel .register .profileNavContentsList li, .registerPanel .profile .navContentsList li, .registerPanel .profile .loginNavContentsList li, .registerPanel .profile .registerNavContentsList li, .registerPanel .profile .profileNavContentsList li, .profilePanel .header .navContentsList li, .profilePanel .header .loginNavContentsList li, .profilePanel .header .registerNavContentsList li, .profilePanel .header .profileNavContentsList li, .profilePanel .login .navContentsList li, .profilePanel .login .loginNavContentsList li, .profilePanel .login .registerNavContentsList li, .profilePanel .login .profileNavContentsList li, .profilePanel .register .navContentsList li, .profilePanel .register .loginNavContentsList li, .profilePanel .register .registerNavContentsList li, .profilePanel .register .profileNavContentsList li, .profilePanel .profile .navContentsList li, .profilePanel .profile .loginNavContentsList li, .profilePanel .profile .registerNavContentsList li, .profilePanel .profile .profileNavContentsList li {
  position: relative;
  top: -15px;
  max-height: 110px;
}
.loginPanel .panel-register, .registerPanel .panel-register, .profilePanel .panel-register {
  height: auto !important;
}
.loginPanel .panel-register-container, .registerPanel .panel-register-container, .profilePanel .panel-register-container {
  height: auto !important;
  padding-bottom: 69px;
}
.loginPanel .panel-login, .loginPanel .panel-register, .registerPanel .panel-login, .registerPanel .panel-register, .profilePanel .panel-login, .profilePanel .panel-register {
  text-align: center;
}
.loginPanel .panel-login-container, .loginPanel .panel-register-container, .registerPanel .panel-login-container, .registerPanel .panel-register-container, .profilePanel .panel-login-container, .profilePanel .panel-register-container {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 600px;
  margin: 55px;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 0px 0px 15px 6px #a19d98;
}
.loginPanel .panel-login-container-logo, .loginPanel .panel-register-container-logo, .registerPanel .panel-login-container-logo, .registerPanel .panel-register-container-logo, .profilePanel .panel-login-container-logo, .profilePanel .panel-register-container-logo {
  display: inline-block;
  margin: 30px 0;
  height: auto;
}
.loginPanel .panel-login-container-logo img, .loginPanel .panel-register-container-logo img, .registerPanel .panel-login-container-logo img, .registerPanel .panel-register-container-logo img, .profilePanel .panel-login-container-logo img, .profilePanel .panel-register-container-logo img {
  width: 55%;
}
.loginPanel .panel-login-container .toggle, .loginPanel .panel-register-container .toggle, .registerPanel .panel-login-container .toggle, .registerPanel .panel-register-container .toggle, .profilePanel .panel-login-container .toggle, .profilePanel .panel-register-container .toggle {
  display: inline-flex;
  float: left;
  margin-left: 55px;
}
.loginPanel .panel-login-container .toggle p, .loginPanel .panel-register-container .toggle p, .registerPanel .panel-login-container .toggle p, .registerPanel .panel-register-container .toggle p, .profilePanel .panel-login-container .toggle p, .profilePanel .panel-register-container .toggle p {
  padding: 0 20px;
  font-family: catamaran;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.loginPanel .panel-login-container .toggle input[type=checkbox], .loginPanel .panel-register-container .toggle input[type=checkbox], .registerPanel .panel-login-container .toggle input[type=checkbox], .registerPanel .panel-register-container .toggle input[type=checkbox], .profilePanel .panel-login-container .toggle input[type=checkbox], .profilePanel .panel-register-container .toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.loginPanel .panel-login-container .toggle label, .loginPanel .panel-register-container .toggle label, .registerPanel .panel-login-container .toggle label, .registerPanel .panel-register-container .toggle label, .profilePanel .panel-login-container .toggle label, .profilePanel .panel-register-container .toggle label {
  cursor: pointer;
  text-indent: -9999px;
  top: 21px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
.loginPanel .panel-login-container .toggle label:after, .loginPanel .panel-register-container .toggle label:after, .registerPanel .panel-login-container .toggle label:after, .registerPanel .panel-register-container .toggle label:after, .profilePanel .panel-login-container .toggle label:after, .profilePanel .panel-register-container .toggle label:after {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.loginPanel .panel-login-container .toggle input:checked + label, .loginPanel .panel-register-container .toggle input:checked + label, .registerPanel .panel-login-container .toggle input:checked + label, .registerPanel .panel-register-container .toggle input:checked + label, .profilePanel .panel-login-container .toggle input:checked + label, .profilePanel .panel-register-container .toggle input:checked + label {
  background: #48e1ee;
}
.loginPanel .panel-login-container .toggle input:checked + label:after, .loginPanel .panel-register-container .toggle input:checked + label:after, .registerPanel .panel-login-container .toggle input:checked + label:after, .registerPanel .panel-register-container .toggle input:checked + label:after, .profilePanel .panel-login-container .toggle input:checked + label:after, .profilePanel .panel-register-container .toggle input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.loginPanel .panel-login-container .toggle label:active:after, .loginPanel .panel-register-container .toggle label:active:after, .registerPanel .panel-login-container .toggle label:active:after, .registerPanel .panel-register-container .toggle label:active:after, .profilePanel .panel-login-container .toggle label:active:after, .profilePanel .panel-register-container .toggle label:active:after {
  width: 35px;
}
.loginPanel .panel-login-container #company, .loginPanel .panel-register-container #company, .registerPanel .panel-login-container #company, .registerPanel .panel-register-container #company, .profilePanel .panel-login-container #company, .profilePanel .panel-register-container #company {
  display: none;
}
.loginPanel .panel-login-container #private, .loginPanel .panel-register-container #private, .registerPanel .panel-login-container #private, .registerPanel .panel-register-container #private, .profilePanel .panel-login-container #private, .profilePanel .panel-register-container #private {
  display: none;
}
.loginPanel .panel-login-container .visable, .loginPanel .panel-register-container .visable, .registerPanel .panel-login-container .visable, .registerPanel .panel-register-container .visable, .profilePanel .panel-login-container .visable, .profilePanel .panel-register-container .visable {
  display: block;
}
.loginPanel .panel-login-container .formlogin, .loginPanel .panel-login-container .formregister, .loginPanel .panel-register-container .formlogin, .loginPanel .panel-register-container .formregister, .registerPanel .panel-login-container .formlogin, .registerPanel .panel-login-container .formregister, .registerPanel .panel-register-container .formlogin, .registerPanel .panel-register-container .formregister, .profilePanel .panel-login-container .formlogin, .profilePanel .panel-login-container .formregister, .profilePanel .panel-register-container .formlogin, .profilePanel .panel-register-container .formregister {
  text-align: center;
}
.loginPanel .panel-login-container .formlogin .inputS, .loginPanel .panel-login-container .formregister .inputS, .loginPanel .panel-register-container .formlogin .inputS, .loginPanel .panel-register-container .formregister .inputS, .registerPanel .panel-login-container .formlogin .inputS, .registerPanel .panel-login-container .formregister .inputS, .registerPanel .panel-register-container .formlogin .inputS, .registerPanel .panel-register-container .formregister .inputS, .profilePanel .panel-login-container .formlogin .inputS, .profilePanel .panel-login-container .formregister .inputS, .profilePanel .panel-register-container .formlogin .inputS, .profilePanel .panel-register-container .formregister .inputS {
  position: relative;
  width: 80%;
  height: 45px;
  margin: 16px auto;
  padding: 11px 13px;
  font-weight: 300;
  color: #000;
  border: 1px solid #b3b7bb;
  outline: none;
  -webkit-appearance: none;
  box-shadow: inset 0 0 0 1px #f5f5f6;
  clear: both;
}
.loginPanel .panel-login-container .formlogin .forgotpassword, .loginPanel .panel-login-container .formregister .forgotpassword, .loginPanel .panel-register-container .formlogin .forgotpassword, .loginPanel .panel-register-container .formregister .forgotpassword, .registerPanel .panel-login-container .formlogin .forgotpassword, .registerPanel .panel-login-container .formregister .forgotpassword, .registerPanel .panel-register-container .formlogin .forgotpassword, .registerPanel .panel-register-container .formregister .forgotpassword, .profilePanel .panel-login-container .formlogin .forgotpassword, .profilePanel .panel-login-container .formregister .forgotpassword, .profilePanel .panel-register-container .formlogin .forgotpassword, .profilePanel .panel-register-container .formregister .forgotpassword {
  display: block;
  text-align: left;
  margin: 5px 0 45px 50px;
  right: 0;
  color: #f00;
  font-size: 0.8em;
}
.loginPanel .panel-login-container .formlogin input[type=submit], .loginPanel .panel-login-container .formregister input[type=submit], .loginPanel .panel-register-container .formlogin input[type=submit], .loginPanel .panel-register-container .formregister input[type=submit], .registerPanel .panel-login-container .formlogin input[type=submit], .registerPanel .panel-login-container .formregister input[type=submit], .registerPanel .panel-register-container .formlogin input[type=submit], .registerPanel .panel-register-container .formregister input[type=submit], .profilePanel .panel-login-container .formlogin input[type=submit], .profilePanel .panel-login-container .formregister input[type=submit], .profilePanel .panel-register-container .formlogin input[type=submit], .profilePanel .panel-register-container .formregister input[type=submit] {
  clear: both;
  width: 37%;
  background-color: #48e1ee;
  border-radius: 6px;
  border: none;
  margin: 0 3%;
}
.loginPanel .panel-login-container .formlogin input[class="register inputS"], .loginPanel .panel-login-container .formregister input[class="register inputS"], .loginPanel .panel-register-container .formlogin input[class="register inputS"], .loginPanel .panel-register-container .formregister input[class="register inputS"], .registerPanel .panel-login-container .formlogin input[class="register inputS"], .registerPanel .panel-login-container .formregister input[class="register inputS"], .registerPanel .panel-register-container .formlogin input[class="register inputS"], .registerPanel .panel-register-container .formregister input[class="register inputS"], .profilePanel .panel-login-container .formlogin input[class="register inputS"], .profilePanel .panel-login-container .formregister input[class="register inputS"], .profilePanel .panel-register-container .formlogin input[class="register inputS"], .profilePanel .panel-register-container .formregister input[class="register inputS"] {
  width: 37%;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin: 0 3%;
}
.loginPanel .panel-login-container .formlogin div, .loginPanel .panel-login-container .formregister div, .loginPanel .panel-register-container .formlogin div, .loginPanel .panel-register-container .formregister div, .registerPanel .panel-login-container .formlogin div, .registerPanel .panel-login-container .formregister div, .registerPanel .panel-register-container .formlogin div, .registerPanel .panel-register-container .formregister div, .profilePanel .panel-login-container .formlogin div, .profilePanel .panel-login-container .formregister div, .profilePanel .panel-register-container .formlogin div, .profilePanel .panel-register-container .formregister div {
  display: inline;
}
.loginPanel .panel-login-container .formlogin div label, .loginPanel .panel-login-container .formregister div label, .loginPanel .panel-register-container .formlogin div label, .loginPanel .panel-register-container .formregister div label, .registerPanel .panel-login-container .formlogin div label, .registerPanel .panel-login-container .formregister div label, .registerPanel .panel-register-container .formlogin div label, .registerPanel .panel-register-container .formregister div label, .profilePanel .panel-login-container .formlogin div label, .profilePanel .panel-login-container .formregister div label, .profilePanel .panel-register-container .formlogin div label, .profilePanel .panel-register-container .formregister div label {
  position: relative;
  display: inline-flex;
  margin: 20px 0;
}
.loginPanel .panel-login-container .formlogin div label input[type=checkbox], .loginPanel .panel-login-container .formregister div label input[type=checkbox], .loginPanel .panel-register-container .formlogin div label input[type=checkbox], .loginPanel .panel-register-container .formregister div label input[type=checkbox], .registerPanel .panel-login-container .formlogin div label input[type=checkbox], .registerPanel .panel-login-container .formregister div label input[type=checkbox], .registerPanel .panel-register-container .formlogin div label input[type=checkbox], .registerPanel .panel-register-container .formregister div label input[type=checkbox], .profilePanel .panel-login-container .formlogin div label input[type=checkbox], .profilePanel .panel-login-container .formregister div label input[type=checkbox], .profilePanel .panel-register-container .formlogin div label input[type=checkbox], .profilePanel .panel-register-container .formregister div label input[type=checkbox] {
  margin-top: 6px;
}
.loginPanel .panel-login-container .formlogin div label a, .loginPanel .panel-login-container .formregister div label a, .loginPanel .panel-register-container .formlogin div label a, .loginPanel .panel-register-container .formregister div label a, .registerPanel .panel-login-container .formlogin div label a, .registerPanel .panel-login-container .formregister div label a, .registerPanel .panel-register-container .formlogin div label a, .registerPanel .panel-register-container .formregister div label a, .profilePanel .panel-login-container .formlogin div label a, .profilePanel .panel-login-container .formregister div label a, .profilePanel .panel-register-container .formlogin div label a, .profilePanel .panel-register-container .formregister div label a {
  display: block;
  text-align: left;
}
.loginPanel .panel-login-container .formlogin div input[class="register inputS"], .loginPanel .panel-login-container .formregister div input[class="register inputS"], .loginPanel .panel-register-container .formlogin div input[class="register inputS"], .loginPanel .panel-register-container .formregister div input[class="register inputS"], .registerPanel .panel-login-container .formlogin div input[class="register inputS"], .registerPanel .panel-login-container .formregister div input[class="register inputS"], .registerPanel .panel-register-container .formlogin div input[class="register inputS"], .registerPanel .panel-register-container .formregister div input[class="register inputS"], .profilePanel .panel-login-container .formlogin div input[class="register inputS"], .profilePanel .panel-login-container .formregister div input[class="register inputS"], .profilePanel .panel-register-container .formlogin div input[class="register inputS"], .profilePanel .panel-register-container .formregister div input[class="register inputS"] {
  left: 15px;
}
.loginPanel #reklama, .registerPanel #reklama, .profilePanel #reklama {
  width: 970px;
  height: 90px;
  margin: 30px auto;
  border: 2px solid #48e1ee;
  background-color: grey;
}
.loginPanel .footer, .loginPanel .fLogin, .loginPanel .fRegister, .registerPanel .footer, .registerPanel .fLogin, .registerPanel .fRegister, .profilePanel .footer, .profilePanel .fLogin, .profilePanel .fRegister {
  top: 10vh;
  height: 10vh;
  margin-top: 3px;
}
.loginPanel .footer ul, .loginPanel .fLogin ul, .loginPanel .fRegister ul, .registerPanel .footer ul, .registerPanel .fLogin ul, .registerPanel .fRegister ul, .profilePanel .footer ul, .profilePanel .fLogin ul, .profilePanel .fRegister ul {
  position: absolute;
  left: calc(50vw - 80px);
  display: flex;
  margin: 20px 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  font-family: "Catamaran", "Arial Narrow", Arial, sans-serif !important;
}
body .fota {
  height: 100vh;
  overflow: hidden;
}
body .fota img {
  width: 100%;
  height: 1000px;
  margin: 0;
}
body .flex-nav .header, body .flex-nav .hp {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 159px;
  background-color: transparent;
}
body .flex-nav .header:hover, body .flex-nav .hp:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
body .flex-nav .header a, body .flex-nav .hp a {
  color: #000 !important;
  transition: 0.5s color ease-in-out;
}
body .flex-nav .header a:hover, body .flex-nav .hp a:hover {
  color: #c6c6c6 !important;
}
body .header {
  position: absolute;
  bottom: 0vh;
  left: 0;
  z-index: 99;
  width: 100%;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.5s ease 0.1s;
  -webkit-transition: all 0.5s ease 0.1s;
}
body .header .navContents {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}
body .header .navContentsList {
  float: left;
  padding: 0;
  font-weight: normal;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}
body .header .navContentsList li {
  float: left;
  min-width: 100px;
  max-height: 120px;
  opacity: 1;
  list-style-type: none;
  transition: all 0.5s ease 0.1s;
  -webkit-transition: all 0.5s ease 0.1s;
}
body .header .navContentsList li a {
  height: 120px;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  line-height: 9em;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
body .header .navContentsList li a:hover {
  color: #c6c6c6;
}
body .header .navContentsListLogo {
  height: 140px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.weWorkItContainer {
  min-height: 100%;
}
.weWorkItContainer .main {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}
.weWorkItContainer .main .left {
  position: relative;
  width: 100px;
  height: 100px;
  border-top: 4px solid #48e1ee;
  border-left: 4px solid #48e1ee;
  background-color: transparent;
}
.weWorkItContainer .main p {
  text-align: center;
}
.weWorkItContainer .main .right {
  position: relative;
  width: 100px;
  height: 100px;
  border-right: 4px solid #333;
  border-bottom: 4px solid #333;
  background-color: transparent;
}

.ranking-Table {
  width: auto;
}
.ranking-Table tr {
  background-color: grey;
}
.ranking-Table tr th, .ranking-Table tr td {
  padding: 7px 10px 10px 10px;
}

#aboutFirm {
  position: relative;
  top: 0;
  width: inherit;
  height: 100vh;
  margin: 50px;
  margin-bottom: 100px;
}

.aboutfirmContainer .main {
  top: 300px;
  width: 800px;
  height: 338px;
}
.aboutfirmContainer .main p {
  position: relative;
  top: -100px;
  padding: 80px;
  color: #333;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}
.aboutfirmContainer .main .right {
  top: calc(-200px - 4px);
  left: calc(700px - 4px);
}

#yourChoice {
  position: relative;
  top: 0;
  width: inherit;
  height: 100vh;
  font-family: "Catamaran";
  margin-bottom: 100px;
}
#yourChoice img {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.yourChoiceContainer {
  position: relative;
  top: -100vh;
  height: 100vh;
  transition: all 500ms;
}
.yourChoiceContainer h3 {
  color: #c6c6c6;
}
.yourChoiceContainerMain {
  text-align: center;
}
.yourChoiceContainerMain .yourChoicePosition {
  display: inline-block;
}
.yourChoiceContainerMain .yourChoicePosition .main {
  top: 100px;
  z-index: 100;
  height: 500px;
  margin: 250px 150px;
}
.yourChoiceContainerMain .yourChoicePosition .main .left,
.yourChoiceContainerMain .yourChoicePosition .main .right {
  position: absolute;
  top: -600px;
  z-index: 9;
  width: 0;
  padding: 200px 150px 300px 150px;
  border: 0;
  background-color: transparent;
}
.yourChoiceContainerMain .yourChoicePosition .main .left {
  top: 0;
}
.yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployee, .yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployer {
  position: relative;
  top: -340px;
  z-index: 999;
  height: 100px;
  margin: 5px 5px 0 5px;
  transition: all 800ms ease-in-out;
  transition-delay: 0.5s;
}
.yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployee p, .yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployer p {
  position: relative;
  top: 45px;
  margin: 0;
  color: #48e1ee;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployee .yourChoiceEmployeeDropdown, .yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployer .yourChoiceEmployeeDropdown {
  position: relative;
  bottom: 50px;
  padding: 0;
  opacity: 0;
  list-style: none;
  transition: all 1.5s ease-in-out;
  transition-delay: 0.3s;
}
.yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployee .yourChoiceEmployeeDropdown li, .yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployer .yourChoiceEmployeeDropdown li {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 37px;
  color: #48e1ee;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
.yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployee .yourChoiceEmployeeDropdown li a, .yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployer .yourChoiceEmployeeDropdown li a {
  color: #48e1ee;
  text-decoration: none;
  transition: 1s color ease-in-out;
}
.yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployee .yourChoiceEmployeeDropdown li a:hover, .yourChoiceContainerMain .yourChoicePosition .main .yourChoiceEmployer .yourChoiceEmployeeDropdown li a:hover {
  color: #0d8590;
}
.yourChoiceContainerMain .yourChoicePosition .main:hover .yourChoiceEmployee, .yourChoiceContainerMain .yourChoicePosition .main:hover .yourChoiceEmployer {
  top: -410px;
}
.yourChoiceContainerMain .yourChoicePosition .main:hover .yourChoiceEmployeeDropdown {
  bottom: -50px;
  opacity: 1;
}
.yourChoiceContainerMain .yourChoicePosition .main .animatedBorderTop,
.yourChoiceContainerMain .yourChoicePosition .main .animatedBorderBottom,
.yourChoiceContainerMain .yourChoicePosition .main .animatedBorderLeft,
.yourChoiceContainerMain .yourChoicePosition .main .animatedBorderRight {
  position: relative;
}
.yourChoiceContainerMain .yourChoicePosition .main .animatedBorderTop::before {
  position: absolute;
  top: 0;
  right: 80%;
  left: 0;
  border-bottom: 5px solid #48e1ee;
  content: "";
  transition: all 500ms;
}
.yourChoiceContainerMain .yourChoicePosition .main:hover .animatedBorderTop::before {
  right: 0;
}
.yourChoiceContainerMain .yourChoicePosition .main .animatedBorderBottom::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 80%;
  border-bottom: 5px solid #48e1ee;
  content: "";
  transition: all 500ms;
}
.yourChoiceContainerMain .yourChoicePosition .main:hover .animatedBorderBottom::before {
  left: 0;
}
.yourChoiceContainerMain .yourChoicePosition .main .animatedBorderLeft::after {
  position: absolute;
  top: 88%;
  right: 0;
  bottom: 0;
  border-left: 5px solid #48e1ee;
  content: "";
  transition: all 500ms;
}
.yourChoiceContainerMain .yourChoicePosition .main:hover .animatedBorderLeft::after {
  top: 0;
}
.yourChoiceContainerMain .yourChoicePosition .main .animatedBorderRight::after {
  position: absolute;
  top: 0;
  bottom: 88%;
  left: 0;
  border-left: 5px solid #48e1ee;
  content: "";
  transition: all 500ms;
}
.yourChoiceContainerMain .yourChoicePosition .main:hover .animatedBorderRight::after {
  bottom: 0;
}

.profilePanel .container.profile {
  height: 100vh;
  margin: 50px auto;
}
.profilePanel .container.profile h1 {
  text-align: center;
}
.profilePanel .container.profile .row {
  text-align: center;
}
.profilePanel .container.profile .row .col-sm {
  height: 300px;
}
.profilePanel .container.profile .row .col-sm.null {
  z-index: -1;
}
.profilePanel .container.profile .row .col-sm .alerts, .profilePanel .container.profile .row .col-sm .search, .profilePanel .container.profile .row .col-sm .scoreboard, .profilePanel .container.profile .row .col-sm .yourStats, .profilePanel .container.profile .row .col-sm .news, .profilePanel .container.profile .row .col-sm .messenger, .profilePanel .container.profile .row .col-sm .help {
  display: block;
  border: 3px solid #333;
  border-radius: 5px;
  background-color: #fff;
}
.profilePanel .container.profile .row .col-sm .alerts-Container.sm, .profilePanel .container.profile .row .col-sm .search-Container.sm, .profilePanel .container.profile .row .col-sm .scoreboard-Container.sm, .profilePanel .container.profile .row .col-sm .yourStats-Container.sm, .profilePanel .container.profile .row .col-sm .news-Container.sm, .profilePanel .container.profile .row .col-sm .messenger-Container.sm, .profilePanel .container.profile .row .col-sm .help-Container.sm {
  height: 250px;
}
.profilePanel .container.profile .row .col-sm .alerts-Container.lg, .profilePanel .container.profile .row .col-sm .search-Container.lg, .profilePanel .container.profile .row .col-sm .scoreboard-Container.lg, .profilePanel .container.profile .row .col-sm .yourStats-Container.lg, .profilePanel .container.profile .row .col-sm .news-Container.lg, .profilePanel .container.profile .row .col-sm .messenger-Container.lg, .profilePanel .container.profile .row .col-sm .help-Container.lg {
  height: 550px;
}
.profilePanel .container.profile .row .col-sm .alerts-Container .infoDropdown, .profilePanel .container.profile .row .col-sm .search-Container .infoDropdown, .profilePanel .container.profile .row .col-sm .scoreboard-Container .infoDropdown, .profilePanel .container.profile .row .col-sm .yourStats-Container .infoDropdown, .profilePanel .container.profile .row .col-sm .news-Container .infoDropdown, .profilePanel .container.profile .row .col-sm .messenger-Container .infoDropdown, .profilePanel .container.profile .row .col-sm .help-Container .infoDropdown {
  position: relative;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 0;
  background-color: #c6c6c6;
  transition: 0.3s all ease-in-out;
}
.profilePanel .container.profile .row .col-sm .alerts-Container .infoDropdown p, .profilePanel .container.profile .row .col-sm .search-Container .infoDropdown p, .profilePanel .container.profile .row .col-sm .scoreboard-Container .infoDropdown p, .profilePanel .container.profile .row .col-sm .yourStats-Container .infoDropdown p, .profilePanel .container.profile .row .col-sm .news-Container .infoDropdown p, .profilePanel .container.profile .row .col-sm .messenger-Container .infoDropdown p, .profilePanel .container.profile .row .col-sm .help-Container .infoDropdown p {
  padding: 10px;
  font-weight: 700;
  font-size: 0;
  transition: 0.3s all ease-in;
}
.profilePanel .container.profile .row .col-sm .alerts-Container:hover .infoDropdown, .profilePanel .container.profile .row .col-sm .search-Container:hover .infoDropdown, .profilePanel .container.profile .row .col-sm .scoreboard-Container:hover .infoDropdown, .profilePanel .container.profile .row .col-sm .yourStats-Container:hover .infoDropdown, .profilePanel .container.profile .row .col-sm .news-Container:hover .infoDropdown, .profilePanel .container.profile .row .col-sm .messenger-Container:hover .infoDropdown, .profilePanel .container.profile .row .col-sm .help-Container:hover .infoDropdown {
  height: 50px;
}
.profilePanel .container.profile .row .col-sm .alerts-Container:hover .infoDropdown p, .profilePanel .container.profile .row .col-sm .search-Container:hover .infoDropdown p, .profilePanel .container.profile .row .col-sm .scoreboard-Container:hover .infoDropdown p, .profilePanel .container.profile .row .col-sm .yourStats-Container:hover .infoDropdown p, .profilePanel .container.profile .row .col-sm .news-Container:hover .infoDropdown p, .profilePanel .container.profile .row .col-sm .messenger-Container:hover .infoDropdown p, .profilePanel .container.profile .row .col-sm .help-Container:hover .infoDropdown p {
  font-size: 1em;
}

footer {
  position: relative;
  clear: both;
  height: 130px;
  margin-top: -100px;
  background-color: #000;
}

.footericon ul {
  position: absolute;
  left: calc(50vw - 80px);
  display: flex;
  margin: 40px 0;
  padding: 0;
}
.footericon ul li {
  list-style: none;
}
.footericon ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  color: #333;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}
.footericon ul li a span {
  position: absolute;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.footericon ul li a span:nth-child(1), .footericon ul li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #333;
}
.footericon ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}
.footericon ul li a span:nth-child(1), .footericon ul li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  color: #f00;
}
.footericon ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.footericon ul li a span:nth-child(2), .footericon ul li a span:nth-child(4) {
  width: 1px;
  height: 100%;
  background: #333;
}
.footericon ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.footericon ul li a:hover span:nth-child(1) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.footericon ul li a:hover span:nth-child(3) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.footericon ul li a:hover span:nth-child(2) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.footericon ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}
.footericon ul li a:hover span:nth-child(4) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.container.account .row .col-sm-3 {
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  background-color: red;
}
.container.account .row .col-sm-3 .aImg {
  width: 250px;
  height: 300px;
}
.container.account .row .col-sm-8 {
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  background-color: blue;
}
