.account {
    background-color: $white;

    .container.account {
        margin-top: 50px;
        margin-bottom: 150px;
        .row {
    
            
            .col-sm-3 {
                width: 250px;
                
                margin: 5px;
    
                &.col-1 .aImg {
                    height: 300px;
                    
    
                    img {
                        width: 244px;
                        height: 294px;
                    }
                }
    
                .aLogo {
                    margin: 20px 0 13px 0;
    
                    img {
                        height: 125px;
                    }
                }
    
                .aInfo, .aSpecial, .aOpinions {
                    width: 250px;
                    height: 200px;
                    margin: 10px 0 10px 0;
                    -webkit-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                    -moz-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                    box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                    border: 2px solid $grey;
                    border-radius: 6px;
    
                }
            }
    
            .col-sm-8 {
                
    
                .row {
                    width: 100%;
                    margin: 5px;
    
                    .aRanking {
                        width: 100%;
                        height: 50px;
                        -webkit-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                        -moz-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                        box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                        border: 2px solid $grey;
                        border-radius: 6px;

                        span {
                            margin-left: 16px;
                            line-height: 3.4em;

                            h4 {
                                display: inline;
                            }
                            p {
                                
                                display: contents;
                                line-height: 1.5em;
                            }
                        }
                    }
    
                    .aAbout {
                        width: 100%;
                        height: calc(100% + 10px);
                        margin: 19px 0 19px 0;
                        padding: 10px 0;
                        -webkit-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                        -moz-box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                        box-shadow: 2px 3px 14px -1px rgba(0,0,0,0.75);
                        border: 2px solid $grey;
                        border-radius: 6px;

                        h3 {
                            margin: 10px;
                        }

                        &Panel {
                            
                            padding: 0 10px;

                            &Edit {
                                display: block;

                                &Content {

                                }

                                input {
                                        
                                    float: right;
                                    width: 90px;
                                    height: 35px;
                                    margin: 12px 0;
                                }
                            }
                            &Save {
                                display: none;

                                textarea {
                                    height: 92px;
                                    border: 2px solid $btnBcolor;
                                    border-radius: 3px;
                                    white-space: nowrap;
                                    font-size: 16px;
                                    resize: none;
                                }

                                input {

                                    float: right;
                                    width: 90px;
                                    height: 35px;
                                    
                                }

                            }
                        
                        }    
                    }
                }
                .aCV {
                    height: 700px;
                    background-color: $white;
                    &-main {
                        height: 100%;
                        .right {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }

                        &-content {
                            &-header {
                                width: calc(100% - 100px);
                                margin: 0 50px 0 50px;
                                font-size: 24px;
                                text-align: center;
                                font-weight: 700;
                                border-bottom: 3px solid $colorLogo;
                                color: #7c7f84;
                                text-transform: uppercase;
                            }

                            &-list.saved {
                                
                                &-exs {
                                    display: block;
                                    margin: 40px 50px 0 30px;

                                    &-saved {
                                        margin: 10px 0;

                                    }
                                }
                            }

                            &-list.editing {
                                display: none;
                                margin: 40px 50px 0 30px;
                            }
                            
                            &-list {
                                
                                &-ex {
 
                                    &-editing {
                                        margin: 10px 0;

                                        &:first-child {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
