.header.formComissionheader {
    position: relative;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
.formComission,
.searchPanel {
    padding: 100px 0 50px 0; 
    background-color: #d5d5d5;

    .row {
        margin: 0;
    }
        &-section {
            width: 100%;
            height: 100%;
            margin: 0 auto;
                
            &-img {
                margin: 0 auto;
                @include b-radius-cl;
                background-color: $white;

                img {
                    max-width: 100%;

                }
            }

            &-info {
                width: 250px;
                height: 300px;
                margin: 50px auto 0 auto;
                @include b-radius-cl;
                background-color: $white;
            }
            
                form {
                    margin: 0 auto;
                    min-width: 100%;
                }
            

            &-buttonSend {
                min-width: 100%;
                height: 60px;
                padding: 0px 0px;
                margin: 30px auto;
                @include b-radius-cl;
                background-color: $white;
            
                p {
                    margin: 0 auto;
                    font-size: 1.3em;
                    line-height: 1em;
                    text-align: center;
                    color: $colorLogo;
                }
            }

            .sectionCategory {
                float: left;
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                
                .dropdown-toggles {
                    z-index: 1;
                    width: 300px;
                    background-color: $white;
                    color: $grey;
                    border: 1px solid $grey;
                    margin: 0 0 90px 0;
                  
                  
                    .fas {
                        float:right;
                        transition: transform 0.3s ease-in-out;
                    }
                  
                    &.tggclose {
                        
                        .fas {
                            transform: rotate(180deg);
                        }

                        .selectCategory { 
                            display:none;
                        }
                    }
                    &.tggopen {
                    
                    }
                    .selectName {
                        position: relative;
                        display: inline-block;
                        font-size: 18px;
                        line-height: 1.3em;
                        padding: 10px;
                    }
                  
                    span, i {
                        position: relative;
                        display: inline-block;
                        font-size: 18px;
                        line-height: 1.3em;
                        padding: 10px;
                    } 
                }
                .selectCategory {
                    position: absolute;
                    z-index: 10;
                    width: inherit;
                    height: auto;
                    background-color: $white;
                    left: 0;
                    border: 1px solid $grey;
                    border-radius: 0 0 5px 5px;
                  
                    .container-label {
                        display: inline-grid;
                        padding: 0;
                        width: 100%;
                        
                    }
                  
                    label {
                        width: auto;
                        padding: 5px ;
                        border-style: solid;
                        border-color: gray;
                        border-width: 1px 0 0 0;
                        cursor: pointer;
                    
                        &:first-child {
                            border-width: 0;
                        }
                    
                        input[type='checkbox'] {
                            z-index: 20;
                            display: none;
                        
                            + .label-text::before {
                                color: #48e1ee;
                                font-family: 'Font Awesome 5 Free';
                                content: '\f0c8';
                                margin: 5px;
                                speak: none;
                                font-style: normal;
                                font-weight: normal;
                                font-variant: normal;
                                text-transform: none;
                                line-height: 1;
                                -webkit-font-smoothing: antialiased;
                                width: 1em;
                                display: inline-block;
                        
                                &:hover::before {
                                font-family: "Font Awesome 5 Free";
                                content: 'f14a';
                                }
                            }
                            &:checked + .label-text::before {
                                font-family: 'Font Awesome 5 Free';
                                content: '\f14a';
                            }
                        }
                    }
                }
            }

            .section-category {
                position: relative;
                width: 50%;
                font-family: Arial;
                    
                &:first-child {
                    margin-bottom: 65px;
                }

                &:nth-child(2) {
                    margin-bottom: 145px;
                } 

                select {
                    display: none; /*hide original SELECT element: */
                }    
                    .select-selected {
                        background-color: $white;
                        
                    }
                        .select-selected::after {
                            position: absolute;
                            content: "";
                            top: 14px;
                            right: 10px;
                            width: 0;
                            height: 0;
                            border: 6px solid transparent;
                            border-color: $black transparent transparent transparent;
                        }
                        
                        /* Point the arrow upwards when the select box is open (active): */
                        .select-selected.select-arrow-active::after {
                            border-color: transparent transparent $black transparent;
                            top: 7px;
                        }
                        
                        /* style the items (options), including the selected item: */
                        .select-items div,
                        .select-selected {
                            cursor: pointer;
                            width: 100%;
                            padding: 10px 20px;
                            color: $colorLogo;
                            border: 1px solid transparent;
                            border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
                            border-radius: 4px;
                        }
                        
                        /* Style items (options): */
                        .select-items {
                            position: absolute;
                            right: 0;
                            left: 0;
                            z-index: 99;
                            background-color: $white;
                        }
                        
                        /* Hide the items when the select box is closed: */
                        .select-hide {
                            display: none;
                        }
                        
                        .select-items div:hover, .same-as-selected {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
            }

            &-wybrane {
                display: inline-block;
                margin: 0 auto;
                width: 50%;
                
                .selectedCategory {
                    display: inline-block;
                    width: 100%;
                    max-width: 300px;
                    max-height: 300px;
                    margin: -10px 0 20px 0;
                    padding: 0 10px;
                    background: transparent;
                    border: none;
                    overflow-y: hidden;
                            
                    option {
                        display: inline;
                        float: left;
                        color: #868686;
                        font-size: 1.2em;
                        font-family: 'catamaran';

                        &::after {
                            content: ", ";
                        }
                        &:last-child::after {
                            content: ".";
                        }
                    }

                    &:focus {
                        outline-width: 0;
                    }
                }
            }
            &-information {
                width: 100%;
                display: inline-flex;
            }

            &-date {
                width: 100%;
                                    //optymalizacja dla mniejszych monitorów
                &-box, input {
                    height: 40px;
                    padding: 0 20px;
                    border: none;

                    &::placeholder {
                        text-align: center;
                        color: $colorLogo;
                        font-size: 1.1em;
                    }

                    &::-webkit-inner-spin-button { 
                        display: none;
                    }
                }

                &-box {
                    padding: 0;
                    border: 1px solid $colorLogo;
                    @include b-radius-cl;
                    padding: 8px;
                    width: 40%;
                    background-color: $white;

                }
                

            }

            &-prize {
                float: right;
                max-width: 50%;

                &-box, input {
                    max-width: 100%;
                    height: 40px;
                    padding: 0px 18% 0 10%;
                    border: none;
                    float: right;

                    &::placeholder {
                        text-align: center;
                        color: $colorLogo;
                        font-size: 1.1em;
                    }
                }
                &-box {
                    background-color: $white;
                    border: 1px solid $colorLogo;
                    color: $colorLogo;
                    padding-right: 40%;
                    @include b-radius-cl;

                    p {
                        padding: 8px;
                    }
                }

                &::after {
                    z-index: 12;
                    width: 20px;
                    position: relative;
                    padding: 0 20px;
                    content: "€";
                    left: -6px;
                    top: -32px;
                    float: right;
                    background-color: $white;
                }
            }

            &-title {
                width: 100%;
                height: 45px;
                margin: 40px 0 10px 0;
                font-family: 'catamaran';
                

                &-box, input {
                    width: 100%;
                    padding-left: 10px;
                    @include b-radius-cl;
                    color: #868686;
                    background-color: $white;
                    font-size: 1.2em;

                    &::placeholder-shown,
                    &::placeholder {
                        text-align: left;
                        color: $colorLogo;
                        font-size: 1.1em;
                    }
                }
                &-box {

                    p {
                        padding: 8px;
                        margin: 0;
                    }
                }
            }

            &-about {
                width: 100%;
                height: 100%;
                
                &-box, textarea {
                    width: 100%;
                    padding: 15px;
                    min-height: 380px;
                    @include b-radius-cl;
                    color: #868686;
                    background-color: $white;
                    font-size: 1.4em;
                    font-family: "catamaran";
                }
            }
        }
    
}

@media only screen and (min-width: 1800px) {
    

    .container {
        // min-width: 1300px;
    }

    .selectedCategory {
        
        
        
    }

    .formComission-Section-date {
        width: 50%;
    }
}


// @media only screen and (max-width: 1200px) {
//     .select-items div,
//     .select-selected {
//         width: 200px;
//     }

//     .selectedCategory {
//         width: 200px;
//     }
// }