@import url('https://fonts.googleapis.com/css?family=Catamaran:500');
#yourChoice {
    position: relative;
    top: 0;
    width: inherit;
    height: 100vh;
    font-family: 'Catamaran';
    margin-bottom: 100px;

    img {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

.yourChoiceContainer {
    position: relative;
    top: -100vh;
    height: 100vh;
    transition: all 500ms;

    h3 {
        color: $darkenwhite;
    }

    &Main {
        
        text-align: center;

        .yourChoicePosition {
            display: inline-block;
            
            .main {
                top: 100px;
                z-index: 100;
                height: 500px;
                margin: 250px 150px;

                .left,
                .right {
                    position: absolute;
                    top: -600px;
                    z-index: 12;
                    width: 0;
                    padding: 200px 150px 300px 150px;
                    border: 0;
                    background-color: transparent;
                }

                .left {
                    top: 0;
                }

                .yourChoiceEmployee, .yourChoiceEmployer {
                    position: relative;
                    top: -340px;
                    z-index: 999;
                    height: 100px;
                    margin: 5px 5px 0 5px;
                    transition: all 800ms ease-in-out;
                    transition-delay: .5s;
                   

                    p {
                        position: relative;
                        top: 45px;
                        margin: 0;
                        color: $colorLogo;
                        font-weight: 800;
                        font-size: 24px;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .yourChoiceEmployeeDropdown {
                        position: relative;
                        bottom: 50px;
                        padding: 0;
                        opacity: 0;
                        list-style: none;
                        transition: all 1.5s ease-in-out;
                        transition-delay: .3s;

                        li {
                            position: relative;
                            z-index: -1;
                            margin: 0;
                            padding: 37px;
                            color: $colorLogo;
                            font-weight: 800;
                            font-size: 18px;
                            text-align: center;
                            text-transform: uppercase;     
                        }

                    }

                    
                }

                &:hover .yourChoiceEmployee,
                &:hover .yourChoiceEmployer {
                    top: -410px;
                }

                &:hover .yourChoiceEmployeeDropdown {
                    bottom: -50px;
                    opacity: 1;
                }

                .animatedBorderTop,
                .animatedBorderBottom,
                .animatedBorderLeft,
                .animatedBorderRight {
                    position: relative;
                }

                .animatedBorderTop::before {
                    position: absolute;
                    top: 0;
                    right: 80%;
                    left: 0;
                    border-bottom: 5px solid $colorLogo;
                    content: '';
                    transition: all 500ms;
                }

                &:hover .animatedBorderTop::before {
                    right: 0;
                }

                .animatedBorderBottom::before {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 80%;
                    border-bottom: 5px solid $colorLogo;
                    content: '';
                    transition: all 500ms;
                }

                &:hover .animatedBorderBottom::before {
                    left: 0;
                }

                .animatedBorderLeft::after {
                    position: absolute;
                    top: 88%;
                    right: 0;
                    bottom: 0;
                    border-left: 5px solid $colorLogo;
                    content: '';
                    transition: all 500ms;
                }

                &:hover .animatedBorderLeft::after {
                    top: 0;
                }

                .animatedBorderRight::after {
                    position: absolute;
                    top: 0;
                    bottom: 88%;
                    left: 0;
                    border-left: 5px solid $colorLogo;
                    content: '';
                    transition: all 500ms;
                }

                &:hover .animatedBorderRight::after {
                    bottom: 0;
                }
            }   
        } 
    }
}
